@import './variaveis';

html, body {
    font-family: $font;
    // max-width: 475px;
}

@media screen and (min-width:475px) {
    body {
        margin: 0 auto;
        max-width:475px;
    }
}

section {
    display: grid;
    justify-items: center;
    align-items: center;
    .card {
        padding: 34px 35px 64px 35px;
        img {
            width: 100%;
        }
        .first--img {
            padding-bottom: 7px;
        }
        .second--img {
            padding-bottom: 17px;
        }
        .third--img {
            padding-bottom: 8px;
        }
        h1{
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 128.91%;
            text-align: center;
            padding-bottom: 26px;
        }
        p {
            font-weight: 400;
            font-size: 1.125;
            line-height: 128.91%;
            text-align: center;
        }
    }

    .pagination {
        width: 70px;
        height: 12px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 63px;
        .point {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px solid #000000;
        }
        .point:hover {
            border: 1px solid $color-green;
            background-color: $color-green;
        }
    }

    .button {
        font-family: $font;
        width: 308px;
        height: 54px;
        font-weight: 500;
        font-size: 18px;
        line-height: 128.91%;
        border: none;
    }
    .continue {
        background-color: $color-green;
        color: $color-white;
    }
    .skip {
        background-color: $color-white;
        color: $color-green;
    }
}